<ion-header>
  <ion-navbar  >
    <ion-title >
    <img src="../assets/imgs/carro.png">
      <span class="titulo">My Shopping List</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-searchbar
  [(ngModel)]="searchbar"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)" animated="True">
  </ion-searchbar>

  <ion-list>
  <ion-item-sliding *ngFor="let task of tasks">
    <ion-item class="teste">
      <ion-avatar item-start>
        <img src={{task.src}}>
      </ion-avatar>
      <h2>{{task.name}}</h2>
      <h3><strong>Qtd:</strong>{{task.year}} {{task.type}}</h3>
      <ion-icon id="setas" name="cart"></ion-icon>
      <h4>{{task.genre}}</h4>
    </ion-item>

    <ion-item-options side="right">
      <button ion-button (click)="deleteTask(task)">
        <ion-icon class="icons" name="close"></ion-icon>
        <span class="buttont">Delete</span>
      </button>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<button ion-fab (click)="addTask()">
  <ion-icon name="add"></ion-icon>
</button>


</ion-content>
<ion-tabs>
 <ion-tab [root]="HomePage" tabTitle="Chat" tabIcon="chat">HomePage</ion-tab>
 <ion-tab [root]="RecentsPage" tabTitle="Chat" tabIcon="chat">r</ion-tab>
</ion-tabs>
