$font-path: "../assets/fonts";

$app-direction: ltr;
@import "ionic.globals";
@import '../theme/gradient-mixins';

.toolbar-title img{
  width: 35px;
  height: 35px;
}

.titulo{
  margin-left: 8px;
  vertical-align: super;
}

.label-md {
    margin: 13px 13px 3px 0;
}


.icons{
  font-size: 1.1rem;
}

.item-md{
  font-size: 1.2rem;

}

.item-md h2{
font-weight: bold;
color: #5f0046;
}

.item-md h4{
font-size: 1rem;
}

.item-md h3{
  font-size: 1.2rem;
}

.list-md ion-item-options .button{
  @include linear-gradient(left,$flickr);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.item-md h2{
  font-size: 1.4rem;
}

.buttont {
color: white;
font-size: 0.9rem
}

.toolbar-background {
  @include linear-gradient(left,$flickr);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.tabs-md .tabbar{
  @include linear-gradient(left,$flickr);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

}

.toolbar-title{
  color: white;
}

.button-full-md{

  @include linear-gradient(left,$flickr);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.back-button{
  color:white;
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
        color: black; //label color when focusing
}
.item-input .label-md{
        color: black; //label color
}

input.text-input.text-input-md{

  font-size: 1.2rem;
}

.item-md p {
    font-size: 1.1rem;
    color: #f11a1a;
  }

#setas {

  float: right;
    position: absolute;
    margin-top: -6%;
    margin-left: 75%
}

.bar-button-md{
  font-size: 1.8rem;
}


.item-md.teste:hover{
  background-color: #F0F0F0;
}

.item-md:active{
  background-color: #F0F0F0;
}


.fab-md{
  float: right;
  background-color:#5f0046;
  transition: all .2s ease-in-out;
  margin-right: 1rem;
}

.fab ion-icon{
  font-size: 3rem;
}
.fab-md:hover{
  background-color:pink;
  transform: scale(1.1);
}

.searchbar-md .searchbar-input{

  padding: 1px 55px;
  font-size:1.4rem;
  margin-top: 0.3rem;
}

.alert-md .alert-button{
  color:#59002e;
}

.alert-md .alert-radio-inner {

  background-color:#5f0046;
}

.alert-md [aria-checked=true] .alert-radio-label{
  color: #5f0046;
}

.alert-md [aria-checked=true] .alert-radio-icon{
  border-color: pink;
}

.item-input .label-md{
  font-weight: bold;
  color:#b0003a;
  font-size: 1.3rem;
}

.select{
  text-align: left;
  font-size:1.3rem;
  color: #b0003a;
  font-weight:bold;
  max-width: 55%;
}

.select-md{
  padding:25px 8px 13px 16px;

}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-md .tab-button-icon, .tab-button-text{
  color:white;
}
