
<ion-header>
  <ion-navbar>
    <ion-title>Add List Item</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

<form [formGroup]="formgroup">
  <ion-item>
    <ion-label style="color:#b0003a" stacked>Name</ion-label>
    <ion-input type="text" clearInput="true" [(ngModel)]="item" placeholder="Item Name" formControlName="name"></ion-input>
  </ion-item>
  <ion-item *ngIf="name.errors && name.touched" class="danger">
    <p>Minimum number of characters is 6</p>
  </ion-item>

  <ion-item>
    <ion-label stacked>Quantity</ion-label>
    <ion-input type="number" clearInput="true" [(ngModel)]="quantity" placeholder="Quantity" formControlName="year"></ion-input>
  </ion-item>
  <ion-item *ngIf="year.errors && year.touched" class="danger">
    <p>Only numbers are allowed</p>
  </ion-item>

  <ion-item>
  <ion-label  class="select" style="color:#b0003a">Quantity Type:</ion-label>
  <ion-select id="select_placeholder" required [(ngModel)]="select" placeholder="Quantity" formControlName="select" >
    <ion-option style="color:#5f0046">Kilograms</ion-option>
    <ion-option>Grams</ion-option>
    <ion-option>Liters</ion-option>
    <ion-option>Units</ion-option>
  </ion-select>
</ion-item>

  <ion-item>
    <ion-label  stacked>Description</ion-label>
    <ion-input type="text"  clearInput="true" [(ngModel)]="description" placeholder="Description" formControlName="genre"></ion-input>
  </ion-item>
  <ion-item *ngIf="genre.errors && genre.touched" class="danger">
    <p>Minimum number of characters is 6</p>
  </ion-item>

  <ion-item>
    <ion-label  stacked>Choose image</ion-label>
    <ion-input type="file" id="files" (change)="fileEvent($event)"></ion-input>
  </ion-item>


  <div padding>
  <button ion-button icon-start full round type="submit" [disabled]="formgroup.invalid" (click)="addTask()">
    <ion-icon name="add-circle"></ion-icon>
    Create Shopping Item
  </button>
  </div>
</form>
</ion-content>
